/* utility class */
.section {
	padding-top: 70px;
	padding-bottom: 70px;
}

.section h2.section-head {
	column-rule: #000;
	text-align: center;
	margin-bottom: 40px;
}

.section h2.section-head::after {
	background: #e74c3c;
	content: "";
	display: block;
	width: 100px;
	height: 3px;
	margin: 20px auto;
}


/* header */

#header {
	color: #fff;
	background-color: #e74c3c;
}

.navbar-brand,
.nav-link {
	color: #fff !important;
}

.navbar-brand {
	font-size: 2rem !important;
}

.nav-link:hover {
	background-color: #c0392b;
}


/* banner */

#banner {
	background: url('../images/banner.jpg') no-repeat 0 0;
	background-size: cover;
}

.banner-title {
	padding-top: 5rem;
}

.banner-title h1 {
	background: rgba(255, 255, 255, 0.8);
	display: inline-block;
	padding: 10px;
	margin: 0;
}

.banner-title p.lead {
	color: #fff;
	background: rgba(231, 76, 60, 0.7);
	padding: 10px;
}

/* section-services */

.service-box {
	text-align: center;
}

.service-box i.fa {
	color: #e74c3c;
	font-size: 70px;
	margin-bottom: 15px;
}


/* Testimonials */

#testimonial {
	color: #fff;
	background: url("../images/testimonial-bg.jpg") no-repeat 0 0;
	background-size: cover;
	padding: 50px 0;
	position: relative;
}

#testimonial::before {
	background: rgba(52, 73, 94, 0.7);
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

#testimonial img {
	border-radius: 50%;
}

/* News */

.news-post img {
	width: 100%;
	margin-bottom: 10px;
}

.news-post h3 {
	font-size: 1.35rem;
}

.news-post h3 a {
	color: #e74c3c;
	text-decoration: none;
}

.post-date {
	font-size: 13px;
	margin-bottom: 2px;
}

.post-date::before {
	content: "\f073";
	font-family: fontAwesome;
	padding-right: 5px;
}

a.readmore {
	font-size: 14px;
	text-decoration: none;
	color: #e74c3c;
}

a.readmore::after {
	content: "\f101";
	font-family: fontAwesome;
	margin-left: 5px;
}

/* Footer */

#footer-sidebar {
	color: #fff;
	background-color: #34495e;
	padding: 20px 0;
}

.footer-widget h4::after {
	content: "";
	background: #fff;
	display: block;
	width: 50px;
	height: 2px;
	margin: 5px 0;
}

.footer-widget a {
	color: #fff;
	text-decoration: none;
}

.latest-news {
	list-style: none;
	margin: 0;
	padding: 0;
}

.latest-news li {
	margin-bottom: 3px;
}

.latest-news li::before {
	content: "\f101";
	font-family: fontAwesome;
	margin-right: 5px;
}

/* footer */

#footer{
	background: #2c3e50;
	color: #fff;
	padding: 10px 0;
}

#social-icons{
	list-style: none;
	color: #fff;
	margin: 0;
	padding: 0;
}

#social-icons li{
	display: inline-block;
	padding-left: 5px ;
}

#social-icons li a{
	color: #fff;
	font-size: 23px;
	text-decoration: none;
}


/* media query */
@media (max-width:992px){
	.news-post{
		margin-bottom: 30px;
	}
}


@media (max-width:768px){

	.section{
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.banner-title{
		padding-top: 0;
	}
	.banner-title h1{
		font-size: 1.7rem;
	}

	.testimonial{
		text-align: center;
		margin-bottom: 30px;
	}

	.service-box{
		margin-bottom: 30px;
	}

	
	.footer-widget{
		margin-bottom: 20px;
	}

	#footer{
		text-align: center;
	}

	#social-icons{
		margin-top: 10px;
	}
}

